@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body{
    background-color: hsl(275, 100%, 97%);
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
#container{
    background-color: hsl(0, 100%, 100%);
    margin: auto;
    margin-top: 100px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}
.background{
    position: absolute;
    z-index: -1;
    top: 0%;
}
.title{
    font-size: 20px;
    display: flex;
    gap: 25px;
}
.faq{
    width: 30px;
}
.toggle-btn{
    background: none;
    border: none;
    pointer-events: none;
}
.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-question:hover{
    color: hsl(293, 76%, 56%);
}
img, .faq-question{
    cursor: pointer;
}
.faq-answer{
    display: none;
    margin-top: 10px;
    color: #555;
    font-size: 15px;
    line-height: 1.4;
}
.faq-item.active .faq-answer{
    display: block;
}
.attribution { font-size: 11px; text-align: center; margin-top: 30px;}
.attribution a { color: hsl(228, 45%, 44%); }

/* -------------------------------------------------------------------------------- */
/* mobile design */
    @media screen and (max-width:600px) {
        .background{
            position: absolute;
            z-index: -1;
            background-image: url(./assets/images/background-pattern-mobile.svg);
        }
        #container{
            width: 300px;
            border-radius: 10px;
        }
    }